/* Reset */
* {
              margin: 0;
              padding: 0;
              box-sizing: border-box;
}

body {
              font-family: Arial, sans-serif;
              background-color: #f4f4f9;
              color: #333;
              height: 100vh;
              display: flex;
              /* استخدام flexbox */
              justify-content: center;
              /* وضع العنصر في منتصف الصفحة أفقيًا */
              align-items: center;
              /* وضع العنصر في منتصف الصفحة عموديًا */
}

.login-container {
              width: 100%;
              max-width: 400px;
              background-color: #fff;
              padding: 20px;
              border-radius: 10px;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
              text-align: center;
}

h1 {
              margin-bottom: 20px;
              color: #090a0a;
}

form {
              display: flex;
              flex-direction: column;
              gap: 15px;
}

input {
              padding: 10px;
              font-size: 16px;
              border: 1px solid #ddd;
              border-radius: 5px;
}

button {
              padding: 10px;
              font-size: 16px;
              color: #fff;
              background-color: #2f3336;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              transition: background-color 0.3s;
}

button:hover {
              background-color: #0056b3;
}

.error-message {
              color: #dc3545;
              font-size: 14px;
              margin-top: 10px;
              display: none;
}